<html ng-app="ClassieApp" ng-controller="AppCtrl">
	<head>
		<title>Classie</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="/static/js/controllers.js"></script>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58448322-3', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
	{% raw %}
    <body>
        <div class="container">
            <div class="card" id="search-container">
                <form action="http://classie.io/course" method="GET">
                    <input name="id" id="search" ng-model="search.query" type="text" placeholder="Search..."/>
                </form>
            </div>
            <div class="card" id="title-container">
                <h1 class="course-title">ERR 404 COURSE NOT FOUND</h1>
            </div>
            <div id="data-container" class="card">
                <!-- <code>{% endraw %} {{course_data}} {% raw %}</code> -->
                <!-- <code>{% endraw %} {{predictions}} {% raw %}</code> -->
                <!-- {% endraw %} 
                    <table>
                        <thead>
                            <tr>
                                <td><strong>INSTRUCTOR</strong></td>
                                {% for year in years %}
                                    {% for semester in semesters %}
                                        <td><strong>{{ semester }} {{ year }}</strong></td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for instructor in table %}
                                <tr>
                                    <td class="instructor">{{ instructor }}</td>
                                    {% for year in years %}
                                        {% for semester in semesters %}
                                            {% if year + ' ' + semester in table[instructor] %}
                                                <td class="is-teaching">{{ table[instructor][year + ' ' + semester] }}</td>
                                            {% else %}
                                                <td class="not-teaching">0</td>
                                            {% endif %}
                                       {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            
            <div id="prediction-container" class="card">
                {% raw %}
            </div>    
        </div>
	</body>
    <script>
    function addAutocomplete() {    
        var scope = angular.element($("body")).scope();
        courses = scope['courses'];
        $( "#search" ).autocomplete({
            source: courses,
            minLength: 2
        });
    }
    </script>
    {% endraw %}
</html>
